name: CI_build

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      max-parallel: 6
      matrix:
        build_platform: [x64, Win32, ARM64]
        
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: Setup NuGet.exe
      uses: nuget/setup-nuget@v2

    - name: Restore
      working-directory: .
      run: nuget restore NppShell.sln

    - name: MSBuild of plugin dll
      working-directory: .
      run: |
           msbuild NppShell.sln /m /p:configuration="Debug" /p:platform="${{ matrix.build_platform }}"
           msbuild NppShell.sln /m /p:configuration="Release" /p:platform="${{ matrix.build_platform }}"

    - name: Archive artifacts for x64
      if: matrix.build_platform == 'x64'
      uses: actions/upload-artifact@v3
      with:
          name: plugin_dll_x64
          path: ${{ matrix.build_platform }}\Release\NppShell.msix

    - name: Archive artifacts for ARM64
      if: matrix.build_platform == 'ARM64'
      uses: actions/upload-artifact@v3
      with:
          name: plugin_dll_arm64
          path: ${{ matrix.build_platform }}\Release\NppShell.msix
